.column {
    background: rgb(119, 117, 117);
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-bottom: 20px;
    text-align: center;
  }


.column span{
  font-weight: bold;
  color:rgb(0, 0, 0);
}
